@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --fonte-primaria: 'Roboto', 'Arial';
    --fonte-secundaria: 'Open sans', 'Arial';
    --fonte-links: 'Mali', 'Arial';
    --cor-primaria: #1b98e0;
    --cor-secundaria: #e8f1f2;
}

/********Outras cores**********
#247ba0
#006494
#13293d
************************/

/********Exemplo**********/
h1 {
    font-family: var(--fonte-primaria);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
$breakpoints: (
    xs: 0,        //Smartphones em modo retrato
    sm: 576px,    //Smartphones em modo paisagem ou Tablets em modo retrato
    md: 768px,    //Tablets em modo paisagem
    lg: 992px,    //Desktops
    xl: 1200px,   //Desktops com alta definição HD e FHD
    xxl: 2000px   //Desktops com ultra alta definição QHD e UHD
  );

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
    h1, h2, h3 {
        margin-bottom: 0.8em;
    }
    p {
        font-size: 18px;
        margin-bottom: 0.8em;
        text-align:justify;
        line-height: 21px;
    }
    font-family: var(--fonte-primaria);
    mark {
        background-color: var(--cor-primaria);
    }
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    //width: 100vw;
}

.section-details {
    width: 100vw;
    padding: 0vw;
}

//smartphone modo retrato
@media (min-width: map-get($breakpoints, xs)) {
    .section-details {
        width: 90vw;
        height: 90vh;
        padding: 3vw;
        margin-top: 6vh;
        justify-content: space-between;
    }
    .botao {
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        width: 84vw;
        font-weight: 900;
        text-align: center;
        margin-top: 2vh;
    }
    #sobre {
        background-color: var(--cor-primaria);
        height: 100vh;
        h2 {
            color: var(--cor-secundaria);
        }
        p {
            color: var(--cor-secundaria);
        }
    }
}

//smartphone modo paisagem
@media (min-width: map-get($breakpoints, sm)) and (orientation: landscape){
    body {
        background-color:red;
    }
    .section-details {
        width: 90vw;
        height: 100vh;
        padding: 3vw;
        margin-top: 10vh;
        justify-content: space-between;
    }
    .botao {
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        width: 84vw;
        font-weight: 900;
        text-align: center;
        margin-top: 2vh;
    }
    #sobre {
        background-color: var(--cor-primaria);
        height: 100vh;
        h2 {
            color: var(--cor-secundaria);
        }
        p {
            color: var(--cor-secundaria);
        }
    }
}

//tablet modo retrato
@media (min-width: map-get($breakpoints, sm)) and (orientation: portrait){
    body {
        background-color:#E44D26;
    }
    .section-details {
        width: 90vw;
        height: 100vh;
        padding: 3vw;
        margin-top: 10vh;
        justify-content: space-between;
    }
    .botao {
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        width: 84vw;
        font-weight: 900;
        text-align: center;
        margin-top: 2vh;
    }
    #sobre {
        background-color: var(--cor-primaria);
        height: 100vh;
        h2 {
            color: var(--cor-secundaria);
        }
        p {
            margin-top: 7vh;
            color: var(--cor-secundaria);
            font-size: large;
        }
    }
}

//Tablets em modo paisagem
@media (min-width: map-get($breakpoints, md)) {
    body {
        background-color: #E5A228
    }
}

//Desktops com alta definição HD e FHD
@media (min-width: map-get($breakpoints, xl)) {
    body {
        background-color: #FFFFFF;
    }
    #sobre {

        background-repeat: repeat;
        height: 100vh;
        h2 {
            color: var(--fonte-secundaria);
        }
        p {
            color: var(--cor-secundaria);
        }
    }
    .botao {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    width: 200px;
    font-weight: 900;
    text-align: center;
    }
}