@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
:root {
  --fonte-primaria: 'Roboto', 'Arial';
  --fonte-secundaria: 'Open sans', 'Arial';
  --fonte-links: 'Mali', 'Arial';
  --cor-primaria: #1b98e0;
  --cor-secundaria: #e8f1f2;
}

/********Outras cores**********
#247ba0
#006494
#13293d
************************/
/********Exemplo**********/
h1 {
  font-family: var(--fonte-primaria);
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--fonte-primaria);
}

* h1, * h2, * h3 {
  margin-bottom: 0.8em;
}

* p {
  font-size: 18px;
  margin-bottom: 0.8em;
  text-align: justify;
  line-height: 21px;
}

* mark {
  background-color: var(--cor-primaria);
}

.flex-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-details {
  width: 100vw;
  padding: 0vw;
}

@media (min-width: 0) {
  .section-details {
    width: 90vw;
    height: 90vh;
    padding: 3vw;
    margin-top: 6vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .botao {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 84vw;
    font-weight: 900;
    text-align: center;
    margin-top: 2vh;
  }
  #sobre {
    background-color: var(--cor-primaria);
    height: 100vh;
  }
  #sobre h2 {
    color: var(--cor-secundaria);
  }
  #sobre p {
    color: var(--cor-secundaria);
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  body {
    background-color: red;
  }
  .section-details {
    width: 90vw;
    height: 100vh;
    padding: 3vw;
    margin-top: 10vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .botao {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 84vw;
    font-weight: 900;
    text-align: center;
    margin-top: 2vh;
  }
  #sobre {
    background-color: var(--cor-primaria);
    height: 100vh;
  }
  #sobre h2 {
    color: var(--cor-secundaria);
  }
  #sobre p {
    color: var(--cor-secundaria);
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  body {
    background-color: #E44D26;
  }
  .section-details {
    width: 90vw;
    height: 100vh;
    padding: 3vw;
    margin-top: 10vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .botao {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 84vw;
    font-weight: 900;
    text-align: center;
    margin-top: 2vh;
  }
  #sobre {
    background-color: var(--cor-primaria);
    height: 100vh;
  }
  #sobre h2 {
    color: var(--cor-secundaria);
  }
  #sobre p {
    margin-top: 7vh;
    color: var(--cor-secundaria);
    font-size: large;
  }
}

@media (min-width: 768px) {
  body {
    background-color: #E5A228;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #FFFFFF;
  }
  #sobre {
    background-repeat: repeat;
    height: 100vh;
  }
  #sobre h2 {
    color: var(--fonte-secundaria);
  }
  #sobre p {
    color: var(--cor-secundaria);
  }
  .botao {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    width: 200px;
    font-weight: 900;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */